{:deps
  {org.clojure/clojure {:mvn/version "1.10.0"}}
 :aliases
  {
    :uberjar
      {:extra-deps
        {luchiniatwork/cambada
          {:mvn/version "1.0.0"}}
       :main-opts  ["-m" "cambada.uberjar" "-m"  "core"] }
  }
}
